name: Push to main
on:
  push:
    branches:
      - main

jobs:
  upload-git:
    name: Upload policies to store
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Upload policies via cerbos/cerbos-store-action
        uses: cerbos/cerbos-store-action@e50448fc7b57111cc30b2b949529128da3457712
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          api_endpoint: "${{ secrets.CERBOS_HUB_API_ENDPOINT }}"
          client_id: "${{ secrets.CERBOS_HUB_CLIENT_ID }}"
          client_secret: "${{ secrets.CERBOS_HUB_CLIENT_SECRET }}"
          store_id: "${{ secrets.CERBOS_HUB_STORE_ID }}"
          subdir: "policies"
